{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Liste des Couleurs{% endblock %}

{% block body %}
    <h1>Liste des Couleurs</h1>

    <a href="{{ path('app_couleur_new') }}" class="btn btn-secondary mb-2">Ajouter</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th></th>
                <th class='text-end'>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for couleur in pagination %}
            <tr>
                <td>{{ couleur.id }}</td>
                <td>{{ couleur.libelle }}</td>
                <td class='text-end'>
                    <a href="{{ path('app_couleur_edit', {'id': couleur.id}) }}"class="text-success"><i class="fa-solid fa-pencil"></i></a>
                </td>
                <td class='text-end'>
                    {{ include('couleur/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}

{% endblock %}
