{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <a href="{{ path('app_commande_new') }}" class="btn btn-secondary">Ajouter</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Nom du Client</th>
                <th>Etat de la Commande</th>
                <th>Prix</th>
                <th></th>
                <th></th>
                <th class="text-end">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in pagination %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.date ? commande.date|date('d-m-Y') : '' }}</td>
                <td>{{ commande.user.nom }}</td>
                <td>{{ commande.etatCommand.etatCommand }}</td>
                <td>{{ commande.prix }}</td>
                <td  class="text-end">
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}" class="text-warning"><i class="fa-solid fa-info"></i></a>
                </td>    
                <td  class="text-end">
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                </td>    
                <td  class="text-end">
                {{ include('commande/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}

{% endblock %}
