{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <a href="{{ path('app_commande_index') }}" class="btn btn-secondary mb-2">Retour à la liste</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Commande numéro</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nom du client</th>
                <td>{{ commande.user.nom }}</td>
            </tr>
            <tr>
                <th>Prénom du client</th>
                <td>
                    {% if commande.user.prenom %}
                        {{ commande.user.prenom }}
                    {% else %}
                        <span class="text-danger fst-italic">N.R</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Email du client</th>
                <td>{{ commande.user.email }}</td>
            </tr>
            <tr>
                <th>Téléphone du client</th>
                <td>{{ commande.user.tel }}</td>
            </tr>
            <tr>
                <th>Adresse du client</th>
                <td>
                    {% if commande.user.adresse %}
                        {{ commande.user.adresse }}, {{ commande.user.adresse.codespostaux }} {{ commande.user.adresse.ville }}
                    {% else %}
                        <span class="text-danger fst-italic">N.R</span>
                    {% endif %}
                </td>
            </tr>
                <th>Etat de la Commande</th>
                <td>{{ commande.etatCommand.etatCommand }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ commande.prix }}</td>
            </tr>
            <tr>
                <th>Nombre de sujet</th>
                <td>{{ commande.sujets|length }}</td>
            </tr>
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            {% for sujet in commande.sujets %}
                <div class="col-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Sujet numéro</th>
                                <td>{{ sujet.id }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ sujet.description }}</td>
                            </tr>
                            <tr>
                                <th>Format du Sujet</th>
                                <td>{{ sujet.formatSujet }}</td>
                            </tr>
                            <tr>
                                <th>Taille de Baguette</th>
                                <td>{{ sujet.tailleBaguette }}</td>
                            </tr>
                            <tr>
                                <th>Baguette</th>
                                <td>
                                    {% if sujet.baguette %}
                                        {{ sujet.baguette.libelle }}
                                    {% else %}
                                        <span class="text-danger fst-italic">N.R</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Taille du Passe-Partout</th>
                                <td>{{ sujet.taillePP }}</td>
                            </tr>
                            <tr>
                                <th>Passe-Partout</th>
                                <td>
                                    {% if sujet.passepartout %}
                                        {{ sujet.passepartout.libelle }}
                                    {% else %}
                                        <span class="text-danger fst-italic">N.R</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Taille du Verre</th>
                                <td>{{ sujet.tailleVerre }}</td>
                            </tr>
                            <tr>
                                <th>Verre</th>
                                <td>
                                    {% if sujet.verre %}
                                        {{ sujet.verre.libelle }}
                                    {% else %}
                                        <span class="text-danger fst-italic">N.R</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Montant Total</th>
                                <td>{{ sujet.montantTotal }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
