{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Fournisseur{% endblock %}

{% block body %}
    <h1>Fournisseur</h1>

    <a href="{{ path('app_fournisseur_index') }}" class="btn btn-secondary">Retour à la liste</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fournisseur.nom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ fournisseur.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ fournisseur.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ fournisseur.adresse }}, {{ fournisseur.adresse.codespostaux }} {{ fournisseur.adresse.ville }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
