{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Sujet{% endblock %}

{% block body %}
    <h1>Sujet</h1>

    <a href="{{ path('app_sujet_index') }}" class="btn btn-secondary">Retour à la liste</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sujet.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sujet.description }}</td>
            </tr>
            <tr>
                <th>Commande</th>
                <td>{{ sujet.commande.id }}</td>
            </tr>
            <tr>
                <th>Nom du client</th>
                <td>{{ sujet.commande.user.nom }}</td>
            </tr>
            <tr>
                <th>Format du Sujet</th>
                <td>{{ sujet.formatSujet }}</td>
            </tr>
            <tr>
                <th>Taille de Baguette</th>
                <td>{{ sujet.tailleBaguette }}</td>
            </tr>
            <tr>
                <th>Baguette</th>
                <td>
                    {% if sujet.baguette %}       {# Si il y a une baguette on donne le nom sinon on affiche NR #}
                        {{ sujet.baguette.libelle }}
                    {% else %}
                        <span class="text-danger fst-italic">N.R</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Taille du Passe-Partout</th>
                <td>{{ sujet.taillePP }}</td>
            </tr>
            <tr>
                <th>Passe-Partout</th>
                <td>
                    {% if sujet.passepartout %}
                        {{ sujet.passepartout.libelle }}
                    {% else %}
                        <span class="text-danger fst-italic">N.R</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Taille du Verre</th>
                <td>{{ sujet.tailleVerre }}</td>
            </tr>
            <tr>
                <th>Verre</th>
                <td>
                    {% if sujet.verre %}
                        {{ sujet.verre.libelle }}
                    {% else %}
                        <span class="text-danger fst-italic">N.R</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Montant Total</th>
                <td>{{ sujet.montantTotal }}</td>
            </tr>
            {# <tr>
                <th>Accompte</th>
                <td>{{ sujet.accompte }}</td>
            </tr> #}
        </tbody>
    </table>

{% endblock %}
